{% extends "base.html" %} {% block content %}

<div class="px-4 py-10 sm:px-6">
  {% if message_content is not None %}
  <div class="mb-4 p-4 text-center rounded border {% if message_type == 'success' %}text-green-500 bg-green-100 border-green-500{% else %}text-red-500 bg-red-100 border-red-500{% endif %}">{{ message_content }}</div>
  {% endif %}
  <div class="mb-4">
    <button
      type="button"
      data-drawer-target="drawer-add-time-off"
      data-drawer-show="drawer-add-time-off"
      aria-controls="drawer-add-time-off"
      class="w-full rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
    >
      Add time off
    </button>
  </div>

  {% if time_offs|length == 0 %}
  <div class="mb-4 p-4 text-center rounded border text-orange-500 bg-orange-100 border-orange-500">
    You don't have any time off yet
  </div>
  {% else %}
  <ol
    class="divide-y divide-gray-100 overflow-hidden rounded-lg bg-white text-sm shadow ring-1 ring-black ring-opacity-5"
  >
    {% for time_off in time_offs %}
    <li
      class="group flex p-4 pr-6 focus-within:bg-gray-50 hover:bg-gray-50"
    >
      <div class="flex-auto">
        <p class="font-semibold text-gray-900">{{ time_off.user.first_name }}</p>
        <p>{{ time_off.reason }}</p>
        <p>{{ time_off.start_date_ }} until {{ time_off.end_date_ }} ({{ time_off.hours }} hours)</p>
        <time
          datetime="2022-01-15T09:00"
          class="mt-2 flex items-center text-gray-700"
        >
          <svg
            class="mr-2 h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z"
              clip-rule="evenodd"
            />
          </svg>
          {{ time_off.status }}
        </time>
      </div>
      
      {% if user.is_authenticated and user.is_superuser %}
      <a
        href="/admin/holidays/timeoff/{{ time_off.id }}/change"
        class="ml-6 flex-none self-center rounded-md bg-white px-3 py-2 font-semibold text-gray-900 opacity-0 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-gray-400 focus:opacity-100 group-hover:opacity-100"
        >Edit in Admin<span class="sr-only">, {{ time_off.user.first_name }}</span></a
      >
      {% else %}
      <a
        href="{% url 'destroy' time_off.id %}"
        class="ml-6 flex-none self-center rounded-md bg-red-200 px-3 py-2 font-semibold text-red-900 opacity-0 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-gray-400 focus:opacity-100 group-hover:opacity-100"
        >Delete<span class="sr-only">, {{ time_off.user.first_name }}</span></a
      >
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</div>
<!-- drawer component -->
<div
  id="drawer-add-time-off"
  class="fixed z-40 h-screen p-4 overflow-y-auto transition-transform left-0 top-0 -translate-x-full bg-white w-80 dark:bg-gray-800"
  tabindex="-1"
>
  <h5
    id="drawer-label"
    class="inline-flex items-center mb-6 text-base font-semibold text-gray-500 uppercase dark:text-gray-400"
  >
    <svg
      class="w-5 h-5 mr-2"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"
      ></path></svg
    >Time off
  </h5>
  <button
    type="button"
    data-drawer-hide="drawer-add-time-off"
    aria-controls="drawer-add-time-off"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <form action="{% url 'create' %}" method="post" class="mb-6">
    {% csrf_token %}
    <div class="mb-6">
      <label
        for="department"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Department</label
      >
      <select id="department" name="department" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="" selected>Choose a department</option>
        {% for department in departments %}
          <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-6">
      <label
        for="reason"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Reason</label
      >
      <textarea
        id="reason"
        name="reason"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Reason..."
      ></textarea>
    </div>
    <div date-rangepicker>
      <div class="mb-6">
        <label
          for="start_date"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Start date</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            id="start_date"
            name="start_date"
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Select date start"
            required
          >
        </div>
      </div>
      <div class="mb-6">
        <label
          for="end_date"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >End date</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            id="end_date"
            name="end_date"
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Select date end"
            required
          >
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block"
    >
      Request
    </button>
  </form>
</div>
{% endblock %}
</html>
